- page_title 'Preferences'
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: { class: 'row prepend-top-default js-preferences-form' } do |f|
  = render "profiles/preferences/ide", f: f

  .col-lg-4.application-theme
    %h4.prepend-top-0
      GitLab navigation theme
    %p Customize the appearance of the application header and navigation sidebar.
  .col-lg-8.application-theme
    - Gitlab::Themes.each do |theme|
      = label_tag do
        .preview{ class: theme.name.downcase }
          .preview-row
            .quadrant.one
            .quadrant.two
          .preview-row
            .quadrant.three
            .quadrant.four
        = f.radio_button :theme_id, theme.id, checked: Gitlab::Themes.for_user(@user).id == theme.id
        = theme.name

  .col-sm-12
    %hr

  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      Syntax highlighting theme
    %p
      This setting allows you to customize the appearance of the syntax.
      = succeed '.' do
        = link_to 'Learn more', help_page_path('user/profile/preferences', anchor: 'syntax-highlighting-theme'), target: '_blank'
  .col-lg-8.syntax-theme
    - Gitlab::ColorSchemes.each do |scheme|
      = label_tag do
        .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
        = f.radio_button :color_scheme_id, scheme.id
        = scheme.name

  .col-sm-12
    %hr

  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      Behavior
    %p
      This setting allows you to customize the behavior of the system layout and default views.
      = succeed '.' do
        = link_to 'Learn more', help_page_path('user/profile/preferences', anchor: 'behavior'), target: '_blank'
  .col-lg-8
    .form-group
      = f.label :layout, class: 'label-light' do
        Layout width
      = f.select :layout, layout_choices, {}, class: 'form-control'
      .help-block
        Choose between fixed (max. 1200px) and fluid (100%) application layout.
    .form-group
      = f.label :dashboard, class: 'label-light' do
        Default dashboard
      = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
    .form-group
      = f.label :project_view, class: 'label-light' do
        Project overview content
      = f.select :project_view, project_view_choices, {}, class: 'form-control'
      .help-block
        Choose what content you want to see on a project’s overview page
    .form-group
      = f.submit 'Save changes', class: 'btn btn-save'
